<form>
  <div class="form-group">
    <label for="author">Author Name:</label>
    <input
      required
      ngModel
      name="author"
      id="author"
      type="text"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label id="date" for="date">Date:</label>
    <input
      required
      ngModel
      name="date"
      id="date"
      type="date"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="title">News Title:</label>
    <input
      required
      ngModel
      name="title"
      id="title"
      type="text"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="newsbody">News Body:</label>
    <textarea
      required
      ngModel
      name=""
      id="newsbody"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <input
      required
      ngModel
      name="category"
      id="category"
      type="text"
      class="form-control"
    />
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
